* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;  
}

::selection {
  color: #F9F9F9;
  background-color: #4D2994;
}

li,
a {
  list-style: none;
  text-decoration: none;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  background-color: #171717;
  font-family: 'DM Sans', sans-serif;
}

header {
  width: 100%;
  position: fixed; 
  top: 0;
  left: 0;
  border-bottom: 1px solid #383838;
  z-index: 999;
  background-color: #171717;
}

header .container .nav-list {
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  height: 8vh;
  padding: 0px 8px;
}

header .container .nav-list h2 {
  font-weight: 700;
  font-size: 3rem;
  color: #F9F9F9;
  cursor: pointer;
}

#btn-mobile {
  display: none;
}

header .container .nav-list h2 span {
  color: #4D2994;
}

header .container .nav-list .h-list {
  display: flex;
  justify-content: center;
  align-items: center;
}

header .container .nav-list .h-list li {
  margin-left: 4.0rem;
}

header .container .nav-list .h-list li a {
  font-size: 1.6rem;
  color: #F9F9F9;
  padding-bottom: 8px;
}

header .container .nav-list .h-list li a:hover {
  opacity: .8;
  border-bottom: 1px solid #4D2994;
}

@media (max-width: 992px) {
  header .container .nav-list .h-list {
    display: flex;
    flex-direction: column;
    justify-content: start;
    position: absolute;
    background-color: #4D2994;
    color: #F9F9F9;
    height: 0px;
    width: 100%;
    top: 8vh;
    right: 0;
    left: 0;
    bottom: 0;      
    overflow-y: hidden;
    visibility: hidden;
    transition: .4s;
  }

  header .container .nav-list.active .h-list {
    height: 100vh;
    visibility: visible;
    overflow-y: auto;
    padding: 174px 0;
  }

  header .container .nav-list .h-list li {
    margin-left: 0;
    margin-bottom: 40px;
  }

  header .container .nav-list .h-list li a {
    font-size: 3rem;
  }

  header .container .nav-list #btn-mobile {
    display: block;
    background: none;
    padding: 1rem;
    border: none;
    cursor: pointer;    
  }

  header .container .nav-list #btn-mobile .hamburger {
    width: 32px ;
    border-top: 2px solid #F9F9F9;    
    margin: 5px 0;
  }
  
  header .container .nav-list #btn-mobile .hamburger::after {
    display: block;
    content: '';
    width: 32px ;
    height: 2px;
    background-color: #F9F9F9;
    margin: 5px 0;
    transition: all .3s ease;
    position: relative;
  }

  header .container .nav-list #btn-mobile .hamburger::before {
    display: block;
    margin: 5px 0;
    content: '';
    width: 32px ;
    height: 2px;
    background-color: #F9F9F9;
    transition: all .3s ease;
  }

  header .container .nav-list.active #btn-mobile .hamburger {
    border-top-color: transparent;
    transition: all .3s ease;
  }

  header .container .nav-list.active #btn-mobile .hamburger::after {
    transform: rotate(-45deg);
    top: -7px;
  }

  header .container .nav-list.active #btn-mobile .hamburger::before {
    transform: rotate(45deg);
  }
}

#s-hero {
  position: relative;
  background-color: #212121;
}

#s-hero .container #hero {
  display: flex; 
  align-items: center;
  height: 90vh;
  overflow: hidden;
  width: 100%;
  margin: 0 auto;
}

#s-hero .container #hero .hero-text {
  width: 60%;
  flex-direction: column;
}

@media (max-width: 992px) {
  #s-hero .container #hero .hero-text {
    width: 100%;
    text-align: center;
  }
  
}

#s-hero .container #hero .hero-text h1 {
  color: #F9F9F9;
  font-weight: 700;
  font-size: 4rem;
  margin-bottom: 18px;
}

#s-hero .container #hero .hero-text p {
  font-size: 1.6rem;
  color: #828282;
  margin-bottom: 40px;
}

#s-hero .container #hero .hero-text .linkedin {
  padding: 8px 24px;
  background-color: #4D2994;
  color: #F9F9F9;
  border-radius: .8rem;
  font-size: 1.6rem;
  font-weight: 500;
  transition: padding .8s;
}

#s-hero .container #hero .hero-text .github {
  padding: 8px 24px;
  border: 1px solid #4D2994;
  color: #F9F9F9;
  border-radius: .8rem;
  font-size: 1.6rem;
  font-weight: 500;
  margin-left: 20px;
  transition: all .8s;
}

#s-hero .container #hero .hero-container-photo {
  position: relative;
  height: 100vh;
  width: 40%;
}

@media (max-width: 992px) {
  #s-hero .container #hero .hero-container-photo {
    display: none;
  }
}

#s-hero .container #hero .hero-container-photo .hero-photo #object { 
  width: 100%;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -40%);  
}

@media (max-width: 992px) {
  #s-hero .container #hero .hero-container-photo .hero-photo #object {
    display: none;
  }
}

#s-hero .container #hero .hero-container-photo .hero-photo .image-hero {
  animation: MoveUpDown 3.5s linear infinite alternate;
}
@keyframes MoveUpDown {
  0%
   {
    top: 42vh;
  }
  100%{
    top: 50vh;
  }
}

#s-about {
  padding: 154px 0px;
}

#s-about .container #about {
  width: 90%;
  max-width: 764px;
  margin: 0 auto; 
}

#s-about .container #about h2 {
  text-align: center;
  font-size: 3.2rem;
  color: #F9F9F9;
  font-weight: 700;
  margin-bottom: 32px;
}

#s-about .container #about p {
  width: 70%;
  margin: 0 auto;
  text-align: center;
  color: #828282;
  font-size: 1.6rem;
  line-height: 3.2rem;
}

@media (max-width: 992px) {
  #s-about .container #about p {
    width: 100%;
  }  
}


#s-project {
  padding: 96px 0px;
  background-color: #212121;
}

#s-project .container h2 {
  text-align: center;
  color: #F9F9F9;
  font-size: 3.2rem;
  font-weight: 700;
  margin-bottom: 32px;
}

#s-project .container #project {  
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(272px, 1fr));
  width: 100%;
  margin: 0 auto;
  gap: 4.8rem;
}

#s-project .container #project .project-cards {
  background-color: #333333;
  padding: 24px 32px;
}

#s-project .container #project .project-cards h3 {
  color: #F9F9F9;
  font-size: 1.6rem;
  font-weight: 500;
  margin-bottom: 8px;
}

#s-project .container #project .project-cards p {
  font-size: 1.6rem;
  color: #828282;
}


#s-services {
  padding: 96px 0px;
}

#s-services .container h2 {
  text-align: center;
  color: #F9F9F9;
  font-size: 3.2rem;
  font-weight: 700;
  margin-bottom: 32px;
}

#s-services .container #services {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(272px, 1fr));
  width: 100%;
  margin: 0 auto;
  gap: 4.8rem;
}

#s-services .container #services .services-cards {
  display: flex;
  flex-direction: column;
  background-color: #212121;
  padding: 32px;
  border: 1px solid #333333;
  border-bottom: 3px solid #4D2994;
}

#s-services .container #services .services-cards img {
  width: 54px;
  height: 54px;
  margin-bottom: 54px;
}

#s-services .container #services .services-cards p {
  width: 124px;
  font-size: 3.2rem;
  color: #828282;
}

#s-skills {
  padding: 96px 0px;
}

#s-skills .container h2 {
  text-align: center;
  color: #F9F9F9;
  font-size: 3.2rem;
  font-weight: 700;
  margin-bottom: 32px;
}

#s-skills .container #skills {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(148px, 1fr));
  width: 100%;
  margin: 0 auto;
  gap: 4.8rem;  
}

#s-skills .container #skills .icons {
  padding: 40px;
  display: flex;
  justify-content: center;
  align-items: center;  
  background-color: #212121;
  border: 1px solid #333333;
}


footer {
  margin-top: 54px;
  border-top: 1px solid #333333;
  padding: 24px 0;
}

footer p {
  text-align: center;
  font-size: 1.6rem;
  color: #F9F9F9;
}
























































































































.container {
  width: 100%;
  max-width: 1140px;
  margin: 0 auto;
  padding: 0 40px;
}

@media (max-width: 992px) {
  .container {
    padding: 0 24px;
  } 
}